@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.luxury-font {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: #333;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}

.generator-directions {
  margin: 0px 150px 25px 150px;
}

.field {
  width: 300px;
  height: 45px;
}

.city-photo {
  width: 35%;
  height: 35%;
}

.create-background {
  background-image: url('../../../assets/createNewTourPhotos/create-new-tour-bkground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.route-container {
  /* margin: 0 0 300px; */
}
