.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 75px;
}

.nav-link {
  font-size: 18px;
  text-shadow: 0px 0px 9.5px rgba(255, 255, 255, 1);
}

.nav-link.home {
  font-size: 18px;
}

.nav-link.about {
  font-size: 18px;
}

.nav-link.browsetours {
  font-size: 18px;
}

.custom-border {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0 0 0 15px; */
}