/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #dbd4db;
  flex-grow: 1;
  position: relative;
  opacity: 0.6;
} 

.logo {
  display: flex;
  align-items: center;
}

.create-new-tour {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo img {
  margin-left: 120px; 
  Add spacing between logo and text if needed
}

li {
  list-style: none;
  display: inline;
  padding-left: 25px;
  margin-right: 25px;
}

@media(max-width: 400px) {
  .navbar{
      display: flex;
      flex-direction: column;
  }
}


.navbar label, #burger {display: none;}

@media screen and (max-width: 768px){
  .navbar li{
      display: block;
      width: 100%;
      box-sizing: border-box;
  }
  .navbar label{
      display: inline-block;
      color: white;
      font-size: xx-large;
      font-style: normal;
      padding: 10px;
  }
  #nav-links{
      display: none;
      align-items: center;
      gap: 20px;
  }
  .navbar input:checked ~ #nav-links{
      display: block;
  }
}  */