
body.active-modal {
  overflow-y: hidden;
}

.home-content {
  padding-top: 160px;
}

.NotFound-content {
  padding-top: 160px;
}

.about-content {
  padding-top: 160px;
}

.TourLive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourLive{
  padding-top: 130px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/* .live-img{
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
} */