
.home-content {
  padding-top: 160px;
}

.NotFound-content {
  padding-top: 160px;
}

.about-content {
  padding-top: 160px;
}

.TourLive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourLive{
  padding-top: 130px;
}

/* .live-img{
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
} */