@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/* tour index fonts */
.luxury-font {
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  font-weight: bold;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
}

/* Styling to tour index, background */
.gradient-day-to-night {
  background: linear-gradient(to right, #F9D423, #FFA07A, #FF4E50);
}

body.active-modal {
  overflow-y: hidden;
}

.home-content {
  padding-top: 160px;
}

.NotFound-content {
  padding-top: 160px;
}

.about-content {
  padding-top: 160px;
}

/* .TourLive-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.tourLive {
  padding-top: 130px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.typewriter h4 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}